@import "tailwindcss";

@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.3;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

